@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

html, body {
    background-color:#ffffe8; 
  color:#532c09;
}
#root {
  margin: 0;
  padding: 0;
 width: 100vw;
  height: 100vh;
  font-family: 'Poppins';
}

/*navbar*/
#navbar {
  background-color:#ffffe8; 
}

#imglogo {
  max-width: 100px;
  max-height: 80px;
  padding: 0px;
  padding-top: 12px;
  margin: 0px;
}

#navbar .nav-link {
  color: #532c09 !important; 
}

#navbar .nav-link.active,
#navbar .nav-link:focus {
  color: #8B4F1F !important; 
}

#navbar .nav-link:hover {
  color: #7A3E1F !important; 
}



/*footer*/
#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}



